*{
    padding: 0;
    margin: 0;
}
/* header section start  */
.container{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: center;
    margin: 0 8%;
}
.container .box-b ul{
    display: flex;
    justify-content: space-between;
    list-style: none; 
    gap: 15px;
}
.container .box-b ul a{
    text-decoration: none;
    gap: 5px;
    color: #585858;
}
.container .box-c button{
    padding: 10px 15px;
    color: #ffffff;
    background-color: #1D4ED8;
    border-radius: 5px;
    border: none;
}
/* banner section start  */
.banner{
    text-align: center;
    background-image: url(./B14-A01-DevConf-2026/assets/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    align-items: center; 
    display: flex;
    justify-content: center;
}
.box-d{
    position: relative;
    width: 600px;
    color: white;
}
.box-d h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 25px;
}
.box-d p{
    font-size: 20px;
    color: #e5e5e5;
    margin-bottom: 45px;
}
.box-d button{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color:#ffffff;
    background: #1D4ED8;
    border: none;
    border-radius: 5px;
    margin-top: 30%;
}

